:root{
--main-color:#3cb6f0;
--main-color-alt:#a2e7e9;
}
*{
  padding:0;
  margin:0;
}
html{
scroll-behavior: smooth;
}

body{
  font-family: "Cairo", sans-serif;
}

ul{
list-style: none;
margin:0;
padding:0;
}

/* container component  */
.container{
  padding:0 16px;
  margin: auto;
}
/* small screen  */
@media(main-width:768px) {
.container{
  width:750px;
}
}

/* medium screen   */
@media(min-width:992px){
.container{
  width:970px;

}
}


/* larg screen  */
@media(min-widht:1200px){
.container{
  width:1170px;


}
}